@import "../variables.scss";
@import "../mixins/media";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  @include media-tablet {
    padding-top: 51px;
  }

  h2 {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: $contacts-title-color;

    @include media-tablet {
      margin-bottom: 12px;
      font-size: 24px;
    }

    @include media-mobile {
      font-size: 18px;
      text-align: center;
    }
  }

  p {
    margin: 16px 0 42px;
    max-width: 500px;
    font-weight: normal;
    font-size: 17px;
    line-height: 31px;
    text-align: center;

    @include media-tablet {
      max-width: 100%;
      margin: 8px 17px 20px;
    }
  }

  picture {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
