@import '../variables.scss';

.data {
  padding: 126px 0 150px;
  text-align: center;

  @include for-size(tablet) {
    padding: 46px 0 70px;
  }
  @include for-size(phone-only) {
    padding-bottom: 75px;
  }


  &__title {
    margin: 24px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: $data-title-color;

    @include for-size(tablet) {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 41px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 41px;

    @include for-size(tablet) {
      gap: 15px 32px;
    }

    @include for-size(phone-only) {
      gap: 10px;
    }
  }

  &__item {
    max-width: 260px;
  }

  &__item-title {
    margin: 26px 0 17px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: $accent-color;
    letter-spacing: -1.27273px;
  }

  &__item-text {
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: $basic-dark;
    letter-spacing: -0.5px;

    @include for-size(phone-only) {
      font-size: 18px;
    }
  }
}
