@import "../variables.scss";
@import "../mixins/media";

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  justify-items: center;
  row-gap: 23px;
  column-gap: 30px;

  @include media-mobile {
    grid-template-columns: 1fr;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-self: end;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    color: $footer-link-color;

    @include media-mobile {
      justify-self: unset;
    }

    &:hover {
      color: $accent-color;
    }

    &:focus {
      text-decoration: underline;
    }

    &:nth-child(2n) {
      justify-self: start;
      margin-left: 60px;

      @include media-mobile {
        justify-self: unset;
        margin-left: 0;
      }
    }

    svg {
      margin-right: 15px;
    }
  }
}
