@import "../variables.scss";
@import "../mixins/media";

.footer {
  display: flex;
  justify-content: center;
  gap: 74px;

  @include media-tablet {
    gap: 90px;
  }

  @include media-mobile {
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }

  a {
    display: flex;
    margin-right: 15px;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    color: $footer-link-color;

    svg {
      margin-right: 15px;
    }
  }
}
