@import "../variables.scss";
@import "../mixins/media";

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include media-mobile {
    flex-direction: column;
    align-items: center;
  }

  a {
    display: flex;
    margin: 0 52px 0 38px;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    color: $footer-link-color;

    @include media-mobile {
      margin: 0 0 22px;
    }

    &:hover {
      color: $accent-color;
    }

    &:focus {
      text-decoration: underline;
    }

    svg {
      margin-right: 15px;
    }
  }
}
