@import "../variables.scss";
@import "../mixins/media";

.form {
  position: relative;

  @include media-mobile {
    padding: 0 16px;
  }

  h3 {
    margin: 8px 0 19px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    color: $basic-white;

    @include media-tablet {
      color: $basic-dark;
      max-width: 321px;
      margin: 16px 0 30px;
      font-size: 18px;
    }

    @include media-mobile {
      margin-bottom: 20px;
    }
  }

  button {
    width: 100%;

    &:focus {
      color: $basic-white;
      outline: 2px solid;
    }
  }
}
