@import "../variables.scss";
@import "../mixins/media";

.form-input {
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 14px 28px 8px;
    font-size: 15px;
    line-height: 24px;
    box-sizing: border-box;
    border: 1px solid $form-input-border-color;
    border-radius: 6px;

    @include media-tablet {
      padding: 13px 21px 9px;
    }

    @include media-mobile {
      padding: 13px 25px 9px;
    }
  }
}
