@import '../variables.scss';

.form-input {
  margin-bottom: 20px;
  @include for-size(phone-only) {
  }

  &__input {
    width: 100%;
    padding: 14px 28px 8px;
    font-size: 15px;
    line-height: 24px;
    box-sizing: border-box;
    border: 1px solid $form-input-border-color;
    border-radius: 6px;

    @include for-size(tablet) {
      padding: 13px 21px 9px;
    }

    @include for-size(phone-only) {
      padding: 13px 25px 9px;
    }
  }
}
