@import '../variables.scss';

.intro {

  &__picture {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    & > * {
      object-fit: cover;
      object-position: top;
      height: 100%;
      width: 100%;
    }

    @include for-size(tablet) {
    }

    @include for-size(phone-only) {
      max-height: 235px;
    }

  }

  &__title {
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: -0.005em;
    color: $basic-white;
  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: $basic-white;
    opacity: 0.8;
  }
}
