@import '../variables.scss';

.player {
  position: relative;
  margin: 56px auto -98px;

  @include for-size(tablet) {
    margin: 40px auto -85px;
  }

  @include for-size(phone-only) {
    margin: 53px auto -49px;
  }

  &__picture {
    & > * {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    background: 0 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    outline: 0;
    cursor: pointer;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &__button-icon {
    width: 65px;
    height: 65px;

    @include for-size(tablet) {
      width: 90px;
      height: 90px;
    }

    @include for-size(phone-only) {
      width: 65px;
      height: 65px;
    }
  }
}
