@import "../variables.scss";
@import "../mixins/media";

.player {
  position: relative;
  margin: 56px auto -98px;

  @include media-tablet {
    margin: 40px auto -85px;
  }

  @include media-mobile {
    margin: 53px auto -49px;
  }

  picture {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    background: 0 0;
    transform: translate(-50%, -50%);
    outline: 0;
    cursor: pointer;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:active {
      transform: translate(-50%, -50%);
    }

    svg {
      width: 65px;
      height: 65px;

      @include media-tablet {
        width: 90px;
        height: 90px;
      }

      @include media-mobile {
        width: 65px;
        height: 65px;
      }
    }
  }
}
