@import 'variables.scss';

.layout {
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 32px;
  background-color: $layout-background-color;
}
