$layout-background-color: #ffffff;
$basic-white: #ffffff;
$basic-dark: #000000;

$accent-color: #0ad9c6;

$header-nav-link-color: #48494d;
$header-nav-link-background-color: #f6f6f6;
$border-bottom-nav-color: rgba(255, 255, 255, 0.2);

$form-input-border-color: #c9ccd4;

$data-title-color: #1f1f1f;

$types-background-color: #f6f7f9;
$types-title-color: #1f1f1f;

$video-background-color: #131314;

$contacts-title-color: #1f1f1f;

$footer-link-color: rgba(0, 0, 0, 0.5);
