$layout-background-color: #ffffff;
$basic-white: #ffffff;
$basic-dark: #000000;

$accent-color: #0AD9C6;
$header-nav-link-color: #48494D;
$header-nav-link-background: #F6F6F6;
$border-bottom-nav-color: rgba(255, 255, 255, 0.2);

$form-input-border-color: #C9CCD4;

$data-title-color: #1F1F1F;

$types-background-color: #F6F7F9;
$types-title-color: #1F1F1F;

$video-background-color: #131314;

$contacts-title-color: #1F1F1F;

$footer-link-color: rgba(0, 0, 0, 0.5);
