$layout-background-color: #ffffff;
$basic-white: #ffffff;

$accent-color: #0AD9C6;
$header-nav-link-color: #48494D;
$header-nav-link-background: #F6F6F6;
$border-bottom-nav-color: rgba(255, 255, 255, 0.2);

